/* Main CSS */

body {
  background: black;
}

.main {
  margin-top: 2rem;
}

.header {
  color: white;
  font-size: 50px;
}

.search-box {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 4px;
  height: 40px;
  font-size: 20px;
}

.submit-btn {
  border-radius: 4px;
}

/* SingerBox CSS */

.singer-img {
  width: 10%;
  height: 110px;
  margin-top: 10px;
  margin-right: 20px;
}

.box {
  width: 100%;
  height: 140px;
  background-color: grey;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  text-align: left;
  padding: 10px;
  font-size: 20px;
  color: lightblue;
  display: inline-block;
}

/* Album CSS */
/* 
.albums {
  display: inline-block;
  text-align: center;
} */

.album-card {
  padding: 0;
  margin-bottom: 30px;
  /* width: 40%;s */
  display: inline-block;
  text-align: center;
  /* width: 200px; */
}

.album-body {
  color: black;
}

.album-img {
  width: 100%;
  height: 250px;
  margin-top: 30px;

  /* margin-right: 20px; */
}
