body {
  background: linear-gradient(#d7f3f1, white) fixed;
}

.main {
  text-align: center;
  margin-top: 2rem;
}

.genres {
  display: inline-block;
}

.header {
  color: #38282b;
  margin: 1rem;
}

/* SingerBox css */
